#contacto {
    padding-bottom: 25px;
}

#contacto a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 32px;
    color: var(--white);
    text-decoration: none;
}

#contacto a:hover {
    color: var(--black);
}