@media only screen and (min-width: 801px){
    #tecnologias > div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        margin: 1rem;
    }
}

@media only screen and (max-width: 800px){
    #tecnologias > div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        margin: 1rem;
    }
}

@media only screen and (max-width: 500px){
    #tecnologias img{
        width: 120px;
    }
}

#tecnologias img {
    border-radius: 1rem;
    max-width: 10rem;
    filter: brightness(70%);
    transition: filter ease 1s cursor ease 1s;
}

#tecnologias img:hover {
    filter: brightness(110%);
    cursor: url('../img/icons/cursorbombilla.png'), default;
}

#tecnologias:hover {
    cursor: url('../img/icons/cursorbombillaapagado.png'), default;
}

